.container{
    margin-top: 50px;
}
.card{
    width: 170px;
    margin-right: 25px;
    transition:2s;
    border-radius: 20px;
    
}
.card:hover{
    opacity: .5;
} 


.title{
    color:#FFFF;
    bottom: 25px;
    font-size: 18px;
    position: relative;
    padding-left: 10px;
    
}